*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
}

.op_btn{
    border: 2px solid;

    color: #ffffff;
    margin: 15px;
    width: 100%;
    padding: 15px;
}
.op_btn:hover, .op_btn:focus {
  color: #ffffff;
  transition: 0.5s;
}

#op1{
    border-color: #ff7f82;
    background-color: #2e0d6b;
}
#op1:hover, #op1:focus{
    box-shadow: inset 0 0 0 2em #ff7f82;
}


