*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
}

.op_btn{
    border: 2px solid;

    color: #ffffff;
    margin: 15px;
    width: 100%;
    padding: 15px;
}
.op_btn:hover, .op_btn:focus {
  color: #ffffff;
  transition: 0.5s;
}

#op1{
    border-color: #c23c3e;
    background-color: #2e0d6b;
}
#op1:hover, #op1:focus{
    box-shadow: inset 0 0 0 2em #c23c3e;
}

#op2{
  border-color: #2bd266;
  background-color: #2e0d6b;
}
#op2:hover, #op2:focus{
  box-shadow: inset 0 0 0 2em #2bd266;
}

#op3{
  border-color: #3d3dcc;
  background-color: #2e0d6b;
}
#op3:hover, #op3:focus{
  box-shadow: inset 0 0 0 2em #3d3dcc;
}

#op4{
  border-color: #e7de5e;
  background-color: #2e0d6b;
}
#op4:hover, #op4:focus{
  box-shadow: inset 0 0 0 2em #e7de5e;
}
#next-btnbutton {
  background-color: #f8fcf8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

